
<html>
<head>
<style>
  .card {
    margin-top: 30px;
  }
  .card-header {
    padding: 8px, 16px;
  }
</style>
</head>
<body>
  <div class="card text-center w-75 mx-auto mp-auto margin-auto mb-5">
    <div class="card-header">
      <div class="">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first name" }%>
          <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last name" }%>
          <%= f.input :biography,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "biography" }%>
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-primary" %>
          <%# <%=link_to "My Profile", my_profile_path, class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="card-header">
        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</body>
</html>
