<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login">
        <h2>Edit your pet info</h2>
          <%= simple_form_for (@pet) do |f| %>
            <%= f.input :name %>
            <%= f.input :breed %>
            <%= f.input :size, collection: ['small', 'medium', 'large'] %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            <%= f.button :submit, "Update pet info", class: "btn btn-primary" %>
          <% end %>
          <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>
