<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <div class="form-login">
        <h3 class="maintext text-center">Upload your pet info</h3>
        <div class="text-center">
          <%= simple_form_for (@pet) do |f| %>
            <%= f.input :name %>
            <%= f.input :breed %>
            <%= f.input :size, collection: ['small', 'medium', 'large'] %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            <%= f.submit class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
