
<div class="container">
    <h1 class="text-center glow"> OMG! Here are the flats available </h1>

      <%= form_tag flats_path, class: "d-flex justify-content-center searchbar", id: "search-form", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a flat"
        %>
        <%= submit_tag "Search", class: "btn btn-primary buttonsearch" %>
      <% end %>
  <div class="row justify-content-around">
    <% @flats.each do |flat| %>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <%= cl_image_tag flat.photos.first.key, height: 232, width: 179, crop: :fill %>
          </div>
          <div class="col-md-8">
            <div class="card-body d-flex flex-column h-100 align-content-between justify-content-between">
              <div>
                <h5 class="card-title"><%= flat.title %></h5>
                <%# <p class="card-text"><%= flat.description %>
                <p class="card-description"><%= flat.address %></p>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <h3 class="m-0"><%= flat.price.truncate %> € per night.</h3>
                <%= link_to "Rent it ", flat_path(flat), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
