<html>
<head>
<style>
  .card {
    margin-top: 30px;
  }
</style>
</head>
<body>
  <div>
    <h1 class="glow">Upload your flat</h1>
  </div>
  <div class="card text-center w-75 mx-auto mp-auto margin-auto mb-5">
    <div class="">
      <div class="card-header">
          <%= simple_form_for (@flat) do |f| %>
            <%= f.input :title %>
            <%= f.input :address %>
            <%= f.input :price %>
            <%= f.input :description %>
            <div class="peticons container text-center">
            <%= f.input :pet_type, class: "peticons", include_blank: false, include_hidden: false, :as => :check_boxes, collection: [
            ["#{image_tag('Cat.jpg')}".html_safe, "Cat"],
            ["#{image_tag('Dog_S.jpg')}".html_safe, "Dog_S",],
            ["#{image_tag('Dog_M.jpg')}".html_safe, "Dog_M",],
            ["#{image_tag('Dog_L.jpg')}".html_safe, "Dog_L",],
            ] %>
            </div>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            <%= f.submit class: 'btn btn-primary' %>
          <% end %>
      </div>
    </div>
  </div>
</body>
</html>
