<%# <%= link_to "Book Now!", new_booking_path %>
<div class="flat-banner">
  <h1><%= @flat.title %></h1>
  <h2><%= @flat.address %></h2>
</div>
<div class="container">
  <div class="row text-center">
    <div class="container-fluid">
      <div class="my-3">
        <% @flat.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    </div>
      <div class="d-flex justify-content-around">
        <div class="card w-50">
          <div class="card-header">
            Details
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p><%= @flat.description %></p>
              <footer><cite title="Source Title"><p>Max pet size allowed: <%= @flat.pet_max_size %> kg </p></cite></footer>
              <footer><cite title="Source Title"><p> <%= @flat.price.truncate %>$ per night.</p></cite></footer>
            </blockquote>
          </div>
        </div>

        <div class="card w-25">
          <div class="card-header">
            Choose your dates:
          </div>
          <div class="card-body">
          <%= simple_form_for [@flat, @booking] do |f| %>
            <%= simple_fields_for :other do |o| %>
            <%= o.text_field :booking_dates,
            data: {
                controller: "flatpickr",
                mode: "range",
                flatpickr_date_format: "Y-m-d",
                flatpickr_min_date: Time.zone.now,
                # inline: true,
                enableTime: true,
                minTime: "09:00",
                maxTime: "22:00"
                # position: "auto"
              }, style: "width:230px; text-align:center" %>
              <% end %>
              <h1></h1>
              <p></p>
              <p></p>
            <%= f.submit class: 'btn btn-primary' %>
          <% end %>
          </div>
        </div>
  </div>
</div>
