<div class="container">
    <h1 class="text-center glow"> Your Bookings! </h1>
  <div class="row justify-content-around">
    <% @bookings.each do |booking| %>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body d-flex flex-column h-100 align-content-between justify-content-between">
              <div>
                <h2 class="card-title">Confirmation number: <%= booking.flat_id %></h2>
                  <p class="card-description">Address: <%= booking.flat.address %></p>
                  <p class="card-description">Check-in: <%= booking.start_date %></p>
                  <p class="card-description">Check-out: <%= booking.end_date %></p>
                  <p class="card-description">Total: <%= booking.total_price.truncate %> €  </p>
                  <%= link_to "Show more..", booking_path(booking), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
