<div class="container">
  <div class="row">
    <div class="text-center">
      <div class="container-fluid">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1>Select your date</h1>
          <%# <%= simple_form_for @booking do |f| %>
            <%# <%= f.input :confirmation_status %>
            <%= form_with model: Booking.new, authenticity_token: true do |f| %>
            <%= f.text_field :start_date,
              data: {
                controller: "flatpickr",
                mode: "range",
                flatpickr_date_format: "d-m-Y",
                flatpickr_min_date: Time.zone.now,
                # inline: true,
                enableTime: true,
                minTime: "09:00",
                maxTime: "22:00"
                # position: "auto"
              } %>

          <%= yield %>
          <p></p>
            <%= link_to 'Create booking', bookings_path(@edit_booking) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
