<h1>profile</h1>
<p><%= current_user.first_name %> <%= current_user.last_name %></p>
<% @pets.each do |pet| %>
  <p><%= pet.name %></p>
  <p><%= pet.breed %></p>
<% end %>

<%= link_to "edit profile", edit_user_registration_path %>
